<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tripola</title>
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter+Brush&family=Heebo:wght@400;500;600;700&display=swap"
    rel="stylesheet">
    </head>

    <body>
        <header class="header" data-header>
            <div class="container">
                <a href="#">
                    <h1 class="logo">Tripola</h1>
                </a>

                <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
                    <ion-icon name="menu-outline" class="open"></ion-icon>
                    <ion-icon name="close-outline" class="close"></ion-icon>
                </button>

                <nav class="navbar">
                    <ul class="navbar-list">
                        <li>
                            <a href="index.html" class="navbar-link">Home</a>
                        </li>
                        <li>
                            <a href="/pages/aboutus.html" class="navbar-link">About Us</a>
                        </li>
                        <li>
                            <a href="/pages/tourpackage.html" class="navbar-link">Tour Packages</a>
                        </li>
                        <li>
                            <a href="/pages/destinations.html" class="navbar-link">Destinations</a>
                        </li>
                        <li>
                            <a href="https://flax-shaker-4069.typedream.app/" class="navbar-link">Blogs</a>
                        </li>
                        <li>
                            <a href="/contact" class="navbar-link">Contact Us</a>
                        </li>
                    </ul>
                    <a href="/login" class="btn btn-secondary">Login</a>
                </nav>
            </div>
        </header>

        <main>
            <article>
                <section class="section hero" 
                    style="background-color: #d85e5e">
                    <div class="container">
                        
                        <div class="hero-content">
                            <p class="section-subtitle"><b>Explore your Travel Options</b></p>
                            <h2 class="hero-title"><b>Luxurious Trips at Budget</b></h2>
                            <p class="hero-text">
                                Wherever it is that you dream to go, We are here to take you.
                            </p>
                            <div class="btn-group">
                                <a href="/public/contactus.html" class="btn btn-primary">Contact Us</a>
                                <a href="/public/tourpackage.html" class="btn btn-outline">Know More</a>
                            </div>
                        </div>
                        <figure class="hero-banner">
                            <img src="tourist.jpeg" width="686" height="812" loading="lazy" alt="tourist" class="w-100">
                        </figure>
                    </div>
                </section>


                <section class="section destination">
                    <div class="container">
                        <p class="section-subtitle">Destinations</p>
                        <h2 class="h2 section-title">Choose the place Now</h2>
                        <ul class="destination-list">
                            <li class="w-50">
                                <a href="https://honey-goat-7022.typedream.app/" class="destination-card">
                                    <figure class="card-banner">
                                        <img src="kashmir.jpeg" width="" height="" loading="lazy" alt="Kashmir" class="img-cover">
                                    </figure>
                                    <div class="card-content">
                                        <p class="card-subtitle">Kashmir Valley</p>
                                        <h3 class="h3 card-title">Jammu and Kashmir</h3>
                                    </div>
                                </a>
                            </li>

                            <li class="w-50">
                                <a href="https://branch-goose-2185.typedream.app/" class="destination-card">
                                    <figure class="card-banner">
                                        <img src="kerala.jpeg" width="" height="" loading="lazy" alt="Kerala" class="img-cover">
                                    </figure>
                                    <div class="card-content">
                                        <p class="card-subtitle">Kerala</p>
                                        <h3 class="h3 card-title">Kerala</h3>
                                    </div>
                                </a>  
                            </li>

                            <li>                               
                                <a href="#" class="destination-card">
                                    <figure class="card-banner">
                                        <img src="kullumanali.jpeg" width="" height="" loading="lazy" alt="Kullu Manali" class="img-cover">
                                    </figure>
                                    <div class="card-content">
                                        <p class="card-subtitle">Kullu Manali</p>
                                        <h3 class="h3 card-title">Himachal Pradesh</h3>
                                    </div>
                                </a>  
                            </li>

                            <li>
                                <a href="#" class="destination-card">
                                    <figure class="card-banner">
                                        <img src="kodaikanal.jpeg" width="" height="" loading="lazy" alt="Kodaikanal" class="img-cover">
                                    </figure>
                                    <div class="card-content">
                                        <p class="card-subtitle">Kodaikanal</p>
                                        <h3 class="h3 card-title">Tamil Nadu</h3>
                                    </div>
                                </a>  
                            </li>

                            <li >
                                <a href="#" class="destination-card">
                                    <figure class="card-banner">
                                        <img src="goa.jpeg" width="" height="" loading="lazy" alt="Goa" class="img-cover">
                                    </figure>
                                    <div class="card-content">
                                        <p class="card-subtitle">Goa Beach</p>
                                        <h3 class="h3 card-title">Goa</h3>
                                    </div>
                                </a>  
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="section popular">
                    <div class="container">
                        <p class="section-subtitle">Featured Tours</p>
                        <h2 class="h2 section-title">Trending Tours</h2>
                        <ul class="popular-list">
                            <li>
                                <div class="popular-card">
                                    <figure class="card-banner">
                                        <a href="#">
                                            <img src="jaipurpopular.jpeg" width="" height="" loading="lazy" alt="Goa Beach, Goa" class="img-cover">
                                        </a>
                                        <span class="card-badge">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time= datetime="P12D">10 Days</time>
                                        </span>
                                    </figure>

                                    <div class="card-content">
                                        <div class="card-wrapper">
                                            <div class="card-price">Starts at Rs.20,000</div>
                                            <div class="card-rating">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                                <data value="2">(2)</data>
                                            </div>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="#">Book a package with us now to make life more amazing</a>
                                        </h3>
                                        <address class="card-location">Hawa Mahal, Jaipur</address>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="popular-card">
                                    <figure class="card-banner">
                                        <a href="#">
                                            <img src="goa.jpeg" width="" height="" loading="lazy" alt="Goa Beach, Goa" class="img-cover">
                                        </a>
                                        <span class="card-badge">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time= datetime="P12D">10 Days</time>
                                        </span>
                                    </figure>

                                    <div class="card-content">
                                        <div class="card-wrapper">
                                            <div class="card-price">Starts at Rs.15,000</div>
                                            <div class="card-rating">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                                <data value="2">(2)</data>
                                            </div>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="#">Book a package with us now to make life more amazing</a>
                                        </h3>
                                        <address class="card-location">Goa Beach,Goa</address>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="popular-card">
                                    <figure class="card-banner">
                                        <a href="#">
                                            <img src="pondipopular.jpeg" width="" height="" loading="lazy" alt="Goa Beach, Goa" class="img-cover">
                                        </a>
                                        <span class="card-badge">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time= datetime="P12D">10 Days</time>
                                        </span>
                                    </figure>

                                    <div class="card-content">
                                        <div class="card-wrapper">
                                            <div class="card-price">Starts at Rs.10,000</div>
                                            <div class="card-rating">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-half-outline"></ion-icon>
                                                <data value="2">(2)</data>
                                            </div>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="#">Book a package with us now to make life more amazing</a>
                                        </h3>
                                        <address class="card-location">French Colony, Pondicherry</address>
                                    </div>
                                </div>
                            </li>
                        </ul> 
                    </div>
                </section>

                <section class="section about">
                    <div class="container">
                        <div class="about-content">
                            <p class="section-subtitle">About Us</p>
                            <h2 class="h2 section-title">Explore India with us</h2>
                            <p class="about-text">
                                We are Tripola providing the best tour packages across India.
                            </p>
                            <ul class="about-list">
                                <li class="about-item">
                                    <div class="about-item-icon">
                                        <ion-icon name="compass"></ion-icon>
                                    </div>
                                    <div class="about-item-content">
                                        <h3 class="h3 about-item-title">
                                            Tour Guide
                                        </h3>
                                        <p class="about-item-text">
                                            Learn more about the places you are planning to visit.
                                        </p>
                                    </div>
                                </li>
                                
                                <li class="about-item">
                                    <div class="about-item-icon">
                                        <ion-icon name="briefcase"></ion-icon>
                                    </div>
                                    <div class="about-item-content">
                                        <h3 class="h3 about-item-title">
                                            Budget friendly Prices
                                        </h3>
                                        <p class="about-item-text">
                                            We provide Luxurios trips at the best prices.
                                        </p>
                                    </div>
                                </li>

                                <li class="about-item">
                                    <div class="about-item-icon">
                                        <ion-icon name="umbrella"></ion-icon>
                                    </div>
                                    <div class="about-item-content">
                                        <h3 class="h3 about-item-title">
                                            Reliable
                                        </h3>
                                        <p class="about-item-text">
                                            We promise to make your vacation memorable.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <a href="tourpackage.html" class="btn btn-primary">Book Now</a>
                        </div>
                        <figure class="about-banner">
                            <img src="abouttravel.jpeg" width="" height="" loading="lazy" alt="" class="w-100">
                        </figure>
                    </div>
                </section>

                <section class="section blog">
                    <div class="container">
                        <p class="section-subtitle">From the Blog Post</p>
                        <h2 class="h2 section-title">Latest News and Articles</h2>
                        <ul class="blog-list">
                            <li>
                                <div class="blog-card">
                                    <figure class="card-banner">
                                        <a href="https://blogstripola.typedream.app/">
                                            <img src="assam.jpeg" width="" height="" loading="lazy" alt="Traveller" class="img-cover">
                                        </a>
                                        <span class="card-badge">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time datetime="12-05">05 Dec</time>    
                                        </span>
                                    </figure>
                                    <div class="card-content">
                                        <div class="card-wrapper">
                                            <div class="author-wrapper">
                                                <figure class="author-avatar">
                                                    <img src="author.jpeg" width="25px" height="" alt="Author">
                                                </figure>
                                                <div>
                                                    <a href="https://blogstripola.typedream.app/" class="author-name">Shreya</a>
                                                    <p class="author-title">Hyderabad</p>
                                                </div>
                                            </div>
                                            <time class="publish-time" datetime="10:30">10:30 AM</time>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="https://blogstripola.typedream.app/">
                                                Wildlife at Kaziranga National Park.
                                            </a>
                                        </h3>
                                        <a href="https://blogstripola.typedream.app/" class="btn-link">
                                            <span>Read More</span>
                                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                        </a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="blog-card">
                                    <figure class="card-banner">
                                        <a href="#">
                                            <img src="ladakh.jpeg" width="" height="" loading="lazy" alt="Traveller" class="img-cover">
                                        </a>
                                        <span class="card-badge">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time datetime="12-05">05 Dec</time>    
                                        </span>
                                    </figure>
                                    <div class="card-content">
                                        <div class="card-wrapper">
                                            <div class="author-wrapper">
                                                <figure class="author-avatar">
                                                    <img src="author.jpeg" width="25px" height="" alt="Author">
                                                </figure>
                                                <div>
                                                    <a href="#" class="author-name">Ravi Krishna</a>
                                                    <p class="author-title">Mumbai</p>
                                                </div>
                                            </div>
                                            <time class="publish-time" datetime="10:30">10:30 AM</time>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="#">
                                                An adventurous bike ride to Ladakh. 
                                            </a>
                                        </h3>
                                        <a href="#" class="btn-link">
                                            <span>Read More</span>
                                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                        </a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="blog-card">
                                    <figure class="card-banner">
                                        <a href="#">
                                            <img src="rajasthan.jpeg" width="" height="" loading="lazy" alt="Traveller" class="img-cover">
                                        </a>
                                        <span class="card-badge">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time datetime="12-05">05 Dec</time>    
                                        </span>
                                    </figure>
                                    <div class="card-content">
                                        <div class="card-wrapper">
                                            <div class="author-wrapper">
                                                <figure class="author-avatar">
                                                    <img src="/images/liam.jpeg" width="25px" height="" alt="Author">
                                                </figure>
                                                <div>
                                                    <a href="#" class="author-name">Liam</a>
                                                    <p class="author-title">Bengaluru</p>
                                                </div>
                                            </div>
                                            <time class="publish-time" datetime="10:30">10:30 AM</time>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="#">
                                                Authentic Rajasthani Thali.
                                            </a>
                                        </h3>
                                        <a href="#" class="btn-link">
                                            <span>Read More</span>
                                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </article>
        </main>

        <footer class="footer" style="background-image:url('')">
            <div class="container">
                <div class="footer-top">
                    <ul class="footer-list">
                        <li>
                            <p class="footer-list-title">Top Destinations</p>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Kashmir Valley, Kashmir</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Kerala,Kerala</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Kullu Manali, Himachal Pradesh</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Kaodaikanal, Tamil Nade</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Goa Beach, Goa</a>
                        </li>
                    </ul>

                    <ul class="footer-list">
                        <li>
                            <p class="footer-list-title">Categories</p>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Travel</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Lifestyle</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Fashion</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Education</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Food and Drinks</a>
                        </li>
                    </ul>

                    <ul class="footer-list">
                        <li>
                            <p class="footer-list-title">Quick Links</p>
                        </li>
                        <li>
                            <a href="aboutus.html" class="footer-link">About</a>
                        </li>
                        <li>
                            <a href="contactus.html" class="footer-link">Contact Us</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Packages</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Book Now</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">Terms and Conditions</a>
                        </li>
                    </ul>

                    <div class="footer-list">
                        <p class="footer-list-title">Get a newsletter</p>
                        <p class="newsletter-text">
                            Be the first to get all the updates and offers from us.
                        </p>
                        <form action="" class="newsletter-form">
                            <input type="email" name="email" required placeholder="Enter Email Address" class="newsletter-input">
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="footer-bottom">
                    <a href="#" class="logo">Tripola</a>
                    <p class="copyright">&copy;2023
                        <a href="#" class="copyright-link">Tripola</a>
                        .All Rights Reserved
                    </p>
                    <ul class="social-list">
                        <li>
                            <a href="https://www.facebook.com/" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" class="social-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com/" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/" class="social-link">
                                <ion-icon name="logo-google"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <a href="#top" class="go-to" data-go-top aria-label="Go to Top">
            <ion-icon name="chevron-up-outline"></ion-icon>
        </a>

        <script src="script.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>